*{
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body{
    background-color: rgb(0, 0, 33);
    color: aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 5, 52);
    width: 100%;
    height: 90px;
}
.my_name{
    padding-left: 4%;
    font-size: 35px;
}
.nav_container{
    display: flex;
    min-width: 500px;
    padding-right: 4%;
    justify-content: space-evenly;
    align-items: center;
}

.nav_container a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(240, 240, 243);
    margin: 0 20px;
    padding: 30px 0;
}
.nav_container .navlink:hover{
    color: rgb(207, 168, 244);
    border-bottom: 4px solid rgb(160, 67, 218);
    cursor:pointer;
}

#About_Section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

#About_Section >div{
    width: 60%;
    margin: 50px 0
}

.intro_part{
    font-size: 3em;
    padding: 0 55px ;
}

.blueviolet{
    color: rgb(165, 89, 236);
}

.shortbio{
    font-size: 25px;
    font-weight: 100;
    padding-top: 15px;
}

.Img_part img{
    width: 50%;
    margin:-60px 0 -20px 300px;
    border-radius: 150px;
    border: none;
}

/*Skill Section*/
#Skill_section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    min-height: 180px;
}

#Skill_section .heading{
    font-size: 3em;
    text-align: center;
    height: 60px;
}
.skillContainer h2{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 8px;
}

.progressbar{
    background-color: azure;
    width: 600px;
    height: 12px;
    border-radius: 12px;
}

.progressbar div{
    width: 0%;
    height: 12px;
    border-radius: 12px;
}
.progressbar div span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffff;
    color: rgb(54, 1, 104);
    float: right;
    margin-top: -15px;
    margin-bottom: -20px;
}

.html{
    background-color: red;
    animation: html 1s linear forwards;
}
.css{
    background-color: yellow;
    animation: css 1s linear forwards;
}
.js{
    background-color: blue;
    animation: js 1s linear forwards;
}
.python{
    background-color: greenyellow;
    animation: python 1s linear forwards;
}

.html span{
    border: 2px solid red;
}
.css span{
    border: 2px solid yellow;
}
.js span{
    border: 2px solid blue;
}
.python span{
    border: 2px solid greenyellow;
}

@keyframes html {
    100%{width: 86%;}
}
@keyframes css {
    100%{width: 59%;}
}
@keyframes js {
    100%{width: 35%;}
}
@keyframes python {
    100%{width: 80%;}
}

#Project_Section{
    margin-top: 150px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */

}
.projectcontainer{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
}
#Project_Section .myprojectsheading{
    font-size: 3em;
    text-align: center;
    height: 60px;
}

.project1heading{
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    margin-left:15px;
}

.descriptionandimg{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.descriptionandimg .loginformimg{
    margin:0 15px;
}
.description{
    margin: 0 15px;
}

#link{
    text-transform: none;
    color: #ffffff;
}
#link:hover{
    font-size: 20px;
    color: greenyellow;
}

#link:active{
    font-size: 20px;
    color: rgb(223, 13, 13);}
.img img{
    width: 98%;
    border:none;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 22px 0px rgba(242,203,242,1);
    -moz-box-shadow: 5px 5px 22px 0px rgba(242,203,242,1);
     box-shadow: 5px 5px 22px 0px rgba(242,203,242,1);

}

.project2heading{
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    margin-left:15px;
}

.myntraclone{
    margin-top: 80px ;
}

.resume_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e457220;
    margin-top: 55px;
    width: 100%;
    min-height: 150px

}

.Resumepdf{
    text-decoration: none;
}
.Downloadresume{
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    background-color: #cf7fe8;
    border: 3px solid rgb(233, 225, 232);
    border-radius: 25px;
    font-size: 25px;
    margin: 15px;
    padding: 5px;
}

.Downloadresume:hover{
    background-color: green;
    cursor: pointer;
    scale: 1.1;
}
.Downloadresume:active{
    background-color: red;
    cursor: pointer;
    scale: 1.3;
}

#Contact_Section{
    margin-top: 25px;
    background-color: #4e457220;
    width: 100%;
    min-height: 17vh;

}
.contact_container{
    margin: 25px 18px;
    display: flex;
    flex-direction: column;
  

}

h5{
    margin: 15px 10px;
    font-size: 28px;
}

.email,.phone{
    font-size: 22px;


}

.footer_container{
    margin-top: 25px;
    background-color:#4e457220 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    height: 22vh;
}

.copyrightcontainer{
    position:relative;
    left:79%;}

    h6{
        margin: 15px 10px;
        font-size: 25px;
    }

.otherlinks .git,.linke {
    text-decoration: none;
    font-size: 38px;
    margin: 15px 15px;
}

.git{
    color: rgb(242, 234, 234);
}
.linke{
    color: rgb(63, 63, 214);
}

.git:hover{
    color: green;
    cursor: pointer;
    scale: 1.1;
}
.git:active{
    color: red;
    cursor: pointer;
    scale: 1.3;
}

.linke:hover{
    color: rgb(229, 255, 0);
    cursor: pointer;
    scale: 1.1;
}
.linke:active{
    color: rgb(205, 92, 247);
    cursor: pointer;
    scale: 1.3;
}